body {
    margin: 0px;
    padding: 0px;
    width: 1200px;

    font-family: 'PT Sans', "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.main-navigation,
.page-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;

    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
    font-weight: bold;
    }

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #c1c1c1;
}

.page-navigation .visitor {
    color: #766357;
}

.welcome {
    background-image:url(../img/background/backgroundphoto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
    height: 780px;
  }

.welcome::after{
  
}

.poster {
    position: relative;
    text-align: center;
}

.advantages {
    background-color: #ffffff;
    text-align: center;
   
}

.advantages h2 {
    
}

.advantages p {
    
}

.search {
    background-color: #ffffff;
    text-align: center;
}

.search .search-hotel {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    background-color: #766357;
    color: #ffffff;
}

.search .search-hotel:hover,
.search .search-hotel:focus {
    background-color: #604e43;
}

.search .search-hotel:active {
    background-color: #503e33; 
    color: #857871;
}

.pop-up-search {
    display: none;
}

.main-footer,
.page-footer {
    background-color: rgba(255, 255, 255, 0.9)
}

.visit {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.social-footer {
    text-align: center;
    list-style: none;
}

.academy {
    display:block;
    align-items: center;
}

.academy a {
    background-image: url(../img/content/logo-htmlacademy.png);
    background-repeat: no-repeat;
    width: 115px;
    height: 41px;
    display: block;
   
}

.academy a:hover,
.academy a:focus {
    background-image: url(../img/content/logo-htmlacademy-hover.png);
    background-repeat: no-repeat;
    width: 115px;
    height: 41px;
    display: block;
}

.academy a:active {
    background-image: url(../img/content/logo-htmlacademy-click.png);
    background-repeat: no-repeat;
    width: 115px;
    height: 41px;
    display: block;
}



.hotel-block {
    background-color: #ffffff; 
}

.hotel-block li {
    list-style: none;
}

.hotel-block .link-hotel{
    color: #000000;
}

.hotel-block .link-hotel:hover,
.hotel-block .link-hotel:focus {
    color: #81b3d2
}

.hotel-block .link-hotel:active {
    color: #b2b2b2;
}

.hotel-block .more {
    font-weight: bold;
    color:white;
    background-color: #81b3d2;
}

.hotel-block .more:hover,
.hotel-block .more:focus  {
    background-color: #669ec0;
    color: #ffffff;
}

.hotel-block .more:active {
    background-color: #5496bd;
    color: #88b6d1;
}



.hotel-block .reserve {
    font-weight: bold;
    color:white;
    background-color: #766357;
}

.hotel-block .reserve:hover,
.hotel-block .reserve:focus {
    color: #ffffff;
    background-color: #604e43;
}

.hotel-block .reserve:active {
    color: #857871;
    background-color: #503e33;
}

.rating {
    background-color: #f2f2f2;
}

.star {
    background-image: url("../img/icon/star.svg");
    background-repeat: space; 
    height: 20px;
    width: 90px;
} /*загвоздка с расстоянием между звездами и их количеством */
