body {
    margin: 0px;
    padding: 0px;
    width: 1200px;
    margin-left: auto;
    margin-right:auto;
    

    font-family: 'PT Sans', "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}

.visually-hidden {
    display: none;
}

.main-heder, 
.page-heder {
    margin-bottom: 0px;
    min-height: 55px;
}


a {
    text-decoration: none;
    color: #000000;
}    


.main-navigation,
.page-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}


.main-logo {
    position: absolute;
    width: 141px;
    height: 71px;
    left: 50%;
    margin-left: -69px;
    }

.site-navigation { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding-top: 15px;
    padding-left: 0px;        
    padding-bottom: 14px;
    line-height: 26px;
    font-weight: bold;
    list-style: none;
}

.site-navigation>li {
    width: 240px;
    text-align: center;
}

.site-navigation a {
    color: #000000;
    font-weight: bold;
    }

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #c1c1c1;
}

.page-navigation .current {
    color: #766357;
}

.welcome {
    
    background-image:url(../img/background/backgroundphoto.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 508px;
    
}

.poster {
    position: relative;
    text-align: center;
}

.advantages {
    background-color: #ffffff;
    text-align: center;
   
}

.search {
    background-color: #ffffff;
    text-align: center;
}

.search .search-hotel {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    background-color: #766357;
    color: #ffffff;
}

.search .search-hotel:hover,
.search .search-hotel:focus {
    background-color: #604e43;
}

.search .search-hotel:active {
    background-color: #503e33; 
    color: #857871;
}

.pop-up-search {
    display: none;
}

.main-footer,
.page-footer {
    background-color: rgba(255, 255, 255, 0.9)
}

.visit {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.social-footer {
    text-align: center;
    list-style: none;
}



#logo_name:hover,
#logo_name:focus {
    fill: #5496bd;
   }




.hotel-block {
    background-color: #ffffff; 
}

.hotel-block li {
    list-style: none;
}

.hotel-block .link-hotel{
    color: #000000;
}

.hotel-block .link-hotel:hover,
.hotel-block .link-hotel:focus {
    color: #81b3d2
}

.hotel-block .link-hotel:active {
    color: #b2b2b2;
}

.hotel-block .more {
    font-weight: bold;
    color:white;
    background-color: #81b3d2;
}

.hotel-block .more:hover,
.hotel-block .more:focus  {
    background-color: #669ec0;
    color: #ffffff;
}

.hotel-block .more:active {
    background-color: #5496bd;
    color: #88b6d1;
}



.hotel-block .reserve {
    font-weight: bold;
    color:white;
    background-color: #766357;
}

.hotel-block .reserve:hover,
.hotel-block .reserve:focus {
    color: #ffffff;
    background-color: #604e43;
}

.hotel-block .reserve:active {
    color: #857871;
    background-color: #503e33;
}

.rating {
    background-color: #f2f2f2;
}

.star {
    background-image: url("../img/icon/star.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px; 
    display: block;
} /*загвоздка с расстоянием между звездами и их количеством */


.logo-academy {
    fill: #000000;
}
.logo-academy:hover,
.logo-academy:focus {
    fill: #81b3d2;
}

.logo-academy:active {
    fill: #bdbbbc;
}
